.Rproj.user
.Rhistory
.RData
.Ruserdata


#dataset files
.xml
.txt
.csv
*.txt
*.xml
dataset_working/training/en/TweetsPerAuthor
dataset_working/test/en/testdata
dataset_orginal/test/en/testdata
dataset_orginal/training/en/TweetsPerAuthor
dataset_original/training/en/TweetsPerAuthor
dataset_original/test/en/testdata
*.csv
